.site-header {

    background-color: rgb(0, 1, 2);
    color: rgb(248, 245, 245);
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}
.profile-pic {
    border-radius: 20%;
    height: 200px;
    width: 200px;
    box-shadow: rgb(22, 12, 12) 2px 2px 5px;
}

.bio-link {

    color: white;
}

body  {   
    margin: 0;
}